In [1]:
import pandas as pd
import swat

conn = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name='py03d06')

In [24]:
df = pd.DataFrame(data={'DateTest':[0, 1, 2, 3],
                        'StringValues':['peter.styliadis','john.smith','er.pickle', 'comp.tia']})
df.head()

df.dtypes

DateTest         int64
StringValues    object
dtype: object

In [25]:
conn.upload_frame(df, casOut={'name':'datetest2', 'caslib':'casuser', 'promote':True})

ERROR: The table DATETEST2 already exists in caslib CASUSER(student).
ERROR: The action stopped due to errors.

SWATError: The action was not successful.

In [26]:
tbl = conn.CASTable('datetest2', caslib='casuser')
tbl.head()

Selected Rows from Table DATETEST2

   DateTest     StringValues
0       0.0  peter.styliadis
1       1.0       john.smith
2       2.0        er.pickle
3       3.0         comp.tia

In [27]:
tbl.columnInfo()

[ColumnInfo]

          Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0      DateTest         1   double          8               12           0    0
 1  StringValues         2  varchar         15               15           0    0

+ Elapsed: 0.000932s, user: 0.000817s, sys: 3.2e-05s, mem: 0.805mb

In [29]:
tbl.dtypes

DateTest         double
StringValues    varchar
dtype: object

In [30]:
tbl.alterTable(columns=[{'name':'DateTest', 'format':'date9.'}])

+ Elapsed: 0.000743s, user: 0.000284s, sys: 0.000168s, mem: 0.306mb

In [35]:
tbl.head().dtypes

DateTest        object
StringValues    object
dtype: object

In [37]:
dir(tbl)

['about',
 'abs',
 'accesscontrol.accesspersonalcaslibs',
 'accesscontrol.assumerole',
 'accesscontrol.checkinallobjects',
 'accesscontrol.checkoutobject',
 'accesscontrol.committransaction',
 'accesscontrol.completebackup',
 'accesscontrol.createbackup',
 'accesscontrol.deletedalist',
 'accesscontrol.droprole',
 'accesscontrol.isauthorized',
 'accesscontrol.isauthorizedactions',
 'accesscontrol.isauthorizedcolumns',
 'accesscontrol.isauthorizedtables',
 'accesscontrol.isinrole',
 'accesscontrol.listacsactionset',
 'accesscontrol.listacsdata',
 'accesscontrol.listallprincipals',
 'accesscontrol.listmetadata',
 'accesscontrol.operactionmd',
 'accesscontrol.operactionsetmd',
 'accesscontrol.operadminmd',
 'accesscontrol.opercolumnmd',
 'accesscontrol.operdapaths',
 'accesscontrol.opertablemd',
 'accesscontrol.remallacsactionset',
 'accesscontrol.remallacsdata',
 'accesscontrol.repallacsaction',
 'accesscontrol.repallacsactionset',
 'accesscontrol.repallacscaslib',
 'accesscontrol.repallacscolumn',
 'accesscontrol.repallacstable',
 'accesscontrol.rollbacktransaction',
 'accesscontrol.showrolesallowed',
 'accesscontrol.showrolesin',
 'accesscontrol.starttransaction',
 'accesscontrol.statustransaction',
 'accesscontrol.updsomeacsaction',
 'accesscontrol.updsomeacsactionset',
 'accesscontrol.updsomeacscaslib',
 'accesscontrol.updsomeacscolumn',
 'accesscontrol.updsomeacstable',
 'accesscontrol.whatcheckoutsexist',
 'accesscontrol.whatiseffective',
 'accesspersonalcaslibs',
 'actionsetfromtable',
 'actionsetinfo',
 'actionsettotable',
 'actionstatus',
 'addcaslib',
 'addcaslibsubdir',
 'addfmtlib',
 'addformat',
 'addnode',
 'addnodestatus',
 'addtable',
 'adduseractionsetpath',
 'all',
 'all_params',
 'altertable',
 'any',
 'append',
 'append_columns',
 'append_computed_columns',
 'append_computedvars',
 'append_computedvarsprogram',
 'append_groupby',
 'append_orderby',
 'append_where',
 'appendindex',
 'as_matrix',
 'assess',
 'assumerole',
 'at',
 'attribute',
 'axes',
 'batchresults',
 'binning',
 'boxplot',
 'boxplot',
 'buildindex',
 'builtins.about',
 'builtins.actionsetfromtable',
 'builtins.actionsetinfo',
 'builtins.actionsettotable',
 'builtins.addnode',
 'builtins.adduseractionsetpath',
 'builtins.cascommon',
 'builtins.defineactionset',
 'builtins.describeactionset',
 'builtins.dropactionset',
 'builtins.dropuseractionsetpath',
 'builtins.echo',
 'builtins.getcacheinfo',
 'builtins.getlicensedproductinfo',
 'builtins.getlicenseinfo',
 'builtins.help',
 'builtins.history',
 'builtins.httpaddress',
 'builtins.installactionset',
 'builtins.listnodes',
 'builtins.loadactionset',
 'builtins.log',
 'builtins.modifyqueue',
 'builtins.ping',
 'builtins.queryactionset',
 'builtins.queryname',
 'builtins.reflect',
 'builtins.refreshlicense',
 'builtins.removenode',
 'builtins.serverstatus',
 'builtins.shutdown',
 'builtins.useractionsetpathinfo',
 'builtins.userinfo',
 'cascommon',
 'caslibinfo',
 'cattrans',
 'checkinallobjects',
 'checkoutobject',
 'clip',
 'clip_lower',
 'clip_upper',
 'columninfo',
 'columns',
 'combinefmtlibs',
 'committransaction',
 'compare',
 'completebackup',
 'configuration.getservopt',
 'configuration.listservopts',
 'configuration.setservopt',
 'copy',
 'copytable',
 'corr',
 'correlation',
 'count',
 'createbackup',
 'created_date',
 'crosstab',
 'css',
 'cv',
 'datapreprocess.binning',
 'datapreprocess.cattrans',
 'datapreprocess.discretize',
 'datapreprocess.highcardinality',
 'datapreprocess.histogram',
 'datapreprocess.impute',
 'datapreprocess.kde',
 'datapreprocess.outlier',
 'datapreprocess.rustats',
 'datapreprocess.transform',
 'datastep',
 'datastep.runcode',
 'datastep.runcodetable',
 'defineactionset',
 'del_action_params',
 'del_param',
 'del_params',
 'deletedalist',
 'deletedocuments',
 'deleteformat',
 'deleterows',
 'deletesource',
 'describe',
 'describeactionset',
 'describeview',
 'discretize',
 'distinct',
 'drop',
 'dropactionset',
 'dropcaslib',
 'dropfmtlib',
 'dropna',
 'droprole',
 'droptable',
 'dropuseractionsetpath',
 'dtypes',
 'echo',
 'endsession',
 'eval',
 'exists',
 'fetch',
 'fetchresult',
 'fileinfo',
 'fillna',
 'flushresult',
 'freq',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'get',
 'get_action_names',
 'get_action_params',
 'get_actionset_names',
 'get_connection',
 'get_dtype_counts',
 'get_fetch_params',
 'get_ftype_counts',
 'get_groupby_vars',
 'get_inputs_param',
 'get_param',
 'get_params',
 'get_value',
 'getcacheinfo',
 'getdoc',
 'getlicensedproductinfo',
 'getlicenseinfo',
 'getschema',
 'getservopt',
 'getsessopt',
 'groupby',
 'groupby',
 'groupbyinfo',
 'has_groupby_vars',
 'has_param',
 'has_params',
 'head',
 'help',
 'highcardinality',
 'hist',
 'histogram',
 'history',
 'httpaddress',
 'iat',
 'iloc',
 'impute',
 'index',
 'index',
 'info',
 'installactionset',
 'invoke',
 'isauthorized',
 'isauthorizedactions',
 'isauthorizedcolumns',
 'isauthorizedtables',
 'isinrole',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'kde',
 'kurt',
 'kurtosis',
 'last_accessed_date',
 'last_modified_date',
 'listacsactionset',
 'listacsdata',
 'listactionq',
 'listallprincipals',
 'listfmtlibs',
 'listfmtranges',
 'listfmtsearch',
 'listfmtvalues',
 'listmetadata',
 'listnodes',
 'listresults',
 'listservopts',
 'listsessions',
 'listsessopts',
 'loadactionset',
 'loaddatasource',
 'loadtable',
 'loc',
 'log',
 'lookup',
 'max',
 'mdsummary',
 'mean',
 'median',
 'merge',
 'metrics',
 'min',
 'mode',
 'modifyqueue',
 'ndim',
 'next',
 'nlargest',
 'nmiss',
 'nsmallest',
 'nth',
 'numrows',
 'operactionmd',
 'operactionsetmd',
 'operadminmd',
 'opercolumnmd',
 'operdapaths',
 'opertablemd',
 'outlier',
 'outtable_params',
 'paracoord',
 'param_names',
 'params',
 'partition',
 'percentile',
 'percentile.assess',
 'percentile.boxplot',
 'percentile.percentile',
 'ping',
 'plot',
 'pop',
 'probt',
 'promote',
 'promotefmtlib',
 'quantile',
 'query',
 'queryactionset',
 'querycaslib',
 'queryname',
 'recordcount',
 'reflect',
 'refreshlicense',
 'regression',
 'remallacsactionset',
 'remallacsdata',
 'removenode',
 'repallacsaction',
 'repallacsactionset',
 'repallacscaslib',
 'repallacscolumn',
 'repallacstable',
 'replace',
 'reset_index',
 'retrieve',
 'rollbacktransaction',
 'runcode',
 'runcodetable',
 'rustats',
 'sample',
 'save',
 'savefmtlib',
 'search.appendindex',
 'search.buildindex',
 'search.deletedocuments',
 'search.getschema',
 'search.searchaggregate',
 'search.searchindex',
 'search.valuecount',
 'searchaggregate',
 'searchindex',
 'select_dtypes',
 'serverstatus',
 'session.actionstatus',
 'session.addnodestatus',
 'session.batchresults',
 'session.endsession',
 'session.fetchresult',
 'session.flushresult',
 'session.listactionq',
 'session.listresults',
 'session.listsessions',
 'session.metrics',
 'session.sessionid',
 'session.sessionname',
 'session.sessionstatus',
 'session.setlocale',
 'session.timeout',
 'sessionid',
 'sessionname',
 'sessionprop.addfmtlib',
 'sessionprop.addformat',
 'sessionprop.combinefmtlibs',
 'sessionprop.deleteformat',
 'sessionprop.dropfmtlib',
 'sessionprop.getsessopt',
 'sessionprop.listfmtlibs',
 'sessionprop.listfmtranges',
 'sessionprop.listfmtsearch',
 'sessionprop.listfmtvalues',
 'sessionprop.listsessopts',
 'sessionprop.promotefmtlib',
 'sessionprop.savefmtlib',
 'sessionprop.setfmtsearch',
 'sessionprop.setsessopt',
 'sessionstatus',
 'set_action_params',
 'set_connection',
 'set_param',
 'set_params',
 'setfmtsearch',
 'setlocale',
 'setservopt',
 'setsessopt',
 'shape',
 'showrolesallowed',
 'showrolesin',
 'shuffle',
 'shutdown',
 'simple.compare',
 'simple.correlation',
 'simple.crosstab',
 'simple.distinct',
 'simple.freq',
 'simple.groupby',
 'simple.groupbyinfo',
 'simple.mdsummary',
 'simple.numrows',
 'simple.paracoord',
 'simple.regression',
 'simple.summary',
 'simple.topk',
 'size',
 'skew',
 'skewness',
 'slice',
 'sort',
 'sort_values',
 'starttransaction',
 'statustransaction',
 'std',
 'stderr',
 'sum',
 'summary',
 'table.addcaslib',
 'table.addcaslibsubdir',
 'table.addtable',
 'table.altertable',
 'table.attribute',
 'table.caslibinfo',
 'table.columninfo',
 'table.copytable',
 'table.deleterows',
 'table.deletesource',
 'table.describeview',
 'table.dropcaslib',
 'table.droptable',
 'table.fetch',
 'table.fileinfo',
 'table.index',
 'table.loaddatasource',
 'table.loadtable',
 'table.partition',
 'table.promote',
 'table.querycaslib',
 'table.recordcount',
 'table.save',
 'table.shuffle',
 'table.tabledetails',
 'table.tableexists',
 'table.tableinfo',
 'table.update',
 'table.upload',
 'table.view',
 'table_params',
 'tabledetails',
 'tableexists',
 'tableinfo',
 'tail',
 'timeout',
 'to_clipboard',
 'to_csv',
 'to_datastep_params',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_input_datastep_params',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_outtable',
 'to_outtable_params',
 'to_params',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_table',
 'to_table_name',
 'to_table_params',
 'to_view',
 'to_xarray',
 'topk',
 'transform',
 'tvalue',
 'update',
 'updsomeacsaction',
 'updsomeacsactionset',
 'updsomeacscaslib',
 'updsomeacscolumn',
 'updsomeacstable',
 'upload',
 'useractionsetpathinfo',
 'userinfo',
 'uss',
 'valuecount',
 'values',
 'var',
 'view',
 'whatcheckoutsexist',
 'whatiseffective',
 'with_params',
 'xs']

In [15]:
tbl.alterTable(columns=[{'name':'DateTest', 'format':'10.'}])

+ Elapsed: 0.000488s, user: 6.9e-05s, sys: 0.000379s, mem: 0.302mb

In [16]:
tbl.head()

Selected Rows from Table DATETEST

   DateTest
0       0.0
1       1.0
2       2.0
3       3.0

In [17]:
tbl['new'] = tbl['DateTest']*100
tbl.head()

Selected Rows from Table DATETEST

   DateTest    new
0       0.0    0.0
1       1.0  100.0
2       2.0  200.0
3       3.0  300.0

In [42]:
df.head()

   DateTest     StringValues
0         0  peter.styliadis
1         1       john.smith
2         2        er.pickle
3         3         comp.tia

In [41]:
def test(x):
    v = x.split('.')[0]
    return v

In [45]:
def test(x):
    v = x.split('.')[0]
    return v

df['first'] = df.StringValues.apply(test)
df

   DateTest     StringValues  first
0         0  peter.styliadis  peter
1         1       john.smith   john
2         2        er.pickle     er
3         3         comp.tia   comp

In [36]:
tbl['date'] = test(tbl['DateTest'])
display(tbl)
tbl.head()

CASTable('datetest', caslib='casuser', computedvars=['new', 'date'], computedvarsprogram='_mul_0_ = (DateTest) * (100); new = _mul_0_; date = "mdy(1,1,1960)"; date = 6.0; date = 7.0; _add_1_ = (DateTest) + (10); date = _add_1_; _add_2_ = (DateTest) + (10); date = _add_2_; _add_3_ = (DateTest) + (10); date = _add_3_; ')[['DateTest', 'new', 'date']]

Selected Rows from Table DATETEST

   DateTest    new           date
0       0.0    0.0             10
1       1.0  100.0             11
2       2.0  200.0             12
3       3.0  300.0             13

In [27]:
tbl.head()

Selected Rows from Table DATETEST

   DateTest    new           date
0       0.0    0.0              7
1       1.0  100.0              7
2       2.0  200.0              7
3       3.0  300.0              7